
<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="ico/favicon.ico">

    <title>Automated Music Transcriber|About</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "cover.css" %}" rel="stylesheet">

    
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="pull-left">A . M . T</h3>
              <ul class="nav masthead-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/convert">Convert</a></li>
                <li class="active"><a  href="/about">About</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">About the project</h1><br />
		            
		<p>Hi, Automated Music Transcriber is a project that allows you to convert your music files into notation sheets.<br />This web based project lets you upload a music file and lets you download a notation sheet for the uploaded music.</p>
<p>This project is done as the part of the final academic project at Government Engineering College Thrissur.<br /><br />Group members are:<br /><br /><b>Govind S Menokee<br />Sumod U K<br />Sooraj K S</b>
	</div>

          <div class="mastfoot">
            <div class="inner">
              <p>Design, by <a href="http://www.facebook.com/govindsmenokee">Govind S Menokee</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
  </body>
</html>

